
{{#link-to "album" this tagName="li" class="menu-link"}}
    <a {{bind-attr href="view.href"}}>
        &raquo; {{controller.model.name}}
    </a>
{{/link-to}}

<li class="menu-link">

<a href="#" {{action 'openModalModel' 'upload-modal' model}}>
    <i class="fa fa-lg fa-upload"></i>
        Upload
    </a>
</li>

