{{#modal-base model=model ok='save' close='closeModal'}}
    <form class="dropzone" id="upload-box">
        <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
    </form>
    <!--<button {{action 'ok' on='submit' target=view}}>Ok</button>-->
{{/modal-base}}