{{#modal-base model=model ok='save' close='closeModal'}}
    <form {{action 'ok' on='submit' target=view}}>
        <h4>Upload to '{{model.name}}'</h4>
        <div class="form-group">
        </div>
    </form>
{{/modal-base}}