{{#modal-base model=model closeModal='closeModal'}}
    <div class="progress">
        <div class="progress-bar" role="progressbar" {{bind-attr aria-valuenow="progress"}} aria-valuemin="0" aria-valuemax="100">
            <span class="">{{view.progress}}% complete</span>
        </div>
    </div>
    <form class="dropzone" id="upload-box">
        <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
    </form>
{{/modal-base}}