{{outlet}}
<div class="container-fluid edge-to-edge">
    <div class="your-photos">
        {{#each controller.model.photos.folders}}
            {{photo-grid-folder folder=this album=controller.model}}
        {{/each}}
        {{#each controller.model.photos.filtered_arrangedContent}}
            {{photo-grid-photo photo=this album=controller.model save="save"}}
        {{/each}}

        {{#unless controller.model.photos.folders}}
            {{#unless controller.model.photos.filtered_arrangedContent}}

                <div class="box-middle-center">
                <span>
                    No photos found - would you like to
                    <a href="#" {{action 'openModalModel' 'upload-modal' model}}>
                        upload some photos</a>?
                </span>
                </div>
            {{/unless}}
        {{/unless}}
    </div>
</div>


