<div class="container">

<h3> Your albums
</h3>

<div class="albums">
    {{#each album in controller.model}}
        {{album-cover album=album}}
    {{/each}}
</div>

<a href="" {{action 'new_album'}}>
    <i class="fa fa-lg fa-plus"></i>
    New album
</a>


</div>