<div id="lightbox-overlay">
    <div id="lightbox">
    </div>

    <div class="details">
            <span class="title">
                {{view.photo.title}}
            </span>
    </div>

</div>

