    <div id="lightbox-overlay">
        <img id="lightbox" >

        <div class="details">
            <span class="title">
                {{view.photo.title}}
            </span>
        </div>

    </div>

