{{outlet}}
<div class="container-fluid edge-to-edge">
    <div class="your-photos">

        {{#each folder in folders}}
            {{photo-grid-folder folder=folder album=model}}
        {{/each}}

        {{#each photo in arrangedContent}}
            {{photo-grid-photo photo=photo album=controller.model save="save"}}
        {{/each}}

        {{#unless folders}}
            {{#unless arrangedContent}}

                <div class="box-middle-center">
                <span>
                    No photos found - would you like to
                    <a href="#" {{action 'openModalModel' 'upload-modal' model}}>
                        upload some photos</a>?
                </span>
                </div>
            {{/unless}}
        {{/unless}}
    </div>
</div>


