<div class="container">

    <h1>
        Welcome to Slidenight
    </h1>

    {{#if session.isAuthenticated}}
        You're logged in as {{session.full_name}}
    {{else}}
        {{#link-to 'login'}}
            Please login or register
        {{/link-to}}
    {{/if}}

    {{validation-reminder resend="resend_validation"}}

    <hr>

    <div class="col-lg-6">

        <h3>
            About SlideNight
        </h3>


        <p>
            Some of the fondest memories I have of my Grandparents are of the slide nights we used to have. After dinner,
            we'd gather in the living room, turn off all the lights and my grandfather would click through slide after
            slide, narrating as he went.
        </p>

        <p>
            We travelled to far off places, saw people we knew (but not as we knew them) and shared the stories
            that defined us as a family.
            </p>
        <p>
            There was something truly special about those nights.
        </p>

        <p>
            Looking back now, I understand that it was a combination of the care he had taken in making each photo and
            selecting them for us to view. It was the soft whirr of the projector and the dust dancing in the spotlight
            of the image. It was the sense of occasion that those nights held.
        </p>
        <p>
            <img src="/static/slides.jpg">
        </p>

        <p>
            When my grandfather passed away he left more than 10,000 colour slides from many decades of not only his
            life, but also my parents and my own. Our own personal history, in images.
        </p>
        <p>
            As a family, we wanted to curate those slides. But we're spread around the globe. We could find no easy way
            to collaboratively curate such a large number of images.
        </p>

        <p>
            <a href="http://twitter.com/xlfe">I</a> built SlideNight to try and solve this problem and to help
            my family to curate and collaboratively edit and catalog the 10,000+ slides that made up our history.
        </p>

        <p>
            The site is currently in alpha.
            You can checkout an {{#link-to 'album' "ag1zfnNsaWRlLW5pZ2h0chILEgVBbGJ1bRiAgICA78SdCgw"}}example gallery{{/link-to}}
            that only allows some forms of editing.
        </p>
    </div>

</div>
