<div class="container">

    <h1>
        Welcome to Slidenight
    </h1>

    {{#if session.isAuthenticated}}
        You're logged in as {{session.full_name}}
    {{else}}
        {{#link-to 'login'}}
            Please login or register
        {{/link-to}}
    {{/if}}

</div>
