<div class="container-fluid edge-to-edge">
    <div class="your-photos">
        {{#each controller.model.photos.arrangedContent}}
            {{photo-grid-photo photo=this album=controller.model save="save"}}
        {{else}}
            <div class="box-middle-center">
                <span>
                    No photos found - would you like to
                    <a href="#" {{action 'openModalModel' 'upload-modal' model}}>
                        upload some photos
                    </a>
                    ?
                </span>
            </div>
        {{/each}}
    </div>
</div>