
{{input type="text" value=folder.name classNames="title" disabled=true clicked=none}}

(Contains {{folder.images.length}} photos)

<div {{action 'click' folder}} class="folder-click">
    <i class="fa fa-folder-open-o fa-5x"></i>
</div>
