
{{input type="text" value=folder.name classNames="title" clicked=none}}

(Contains {{folder.images}} photos)

<div {{action 'click' folder}} class="folder-click">
    <i class="fa fa-folder fa-5x"></i>
</div>
